
*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   }
   
   html{
       box-sizing: border-box;
   }
   
   body{
       display: flex;
       justify-content: center;
       align-items: center;
       min-height: 100vh;
       background-color: #6466BB;
   }
   .msger{
       display: flex;
       flex-flow: column wrap;
       justify-content: space-between;
       width: 100%;
       max-width: 867px;
       margin: 25px 10px;
       height: calc(100% - 50px);
       border: var(--border);
       border-radius: 5px;
       background: var(--msger-bg);
       box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
   }
   .container{
       display: flex;
       position: relative;
       width: 1396px;
       max-width: 100%;
       height: calc(100vh - 40px);
       box-shadow: #0f0f0f;
       background-color: #6466BB ;
   }
   .container .leftSide{
       position: relative;
       flex: 30%;
       background: #fff; 
       max-width: 509px;
       border-radius: 9px;
   }
   .container .rightSide {
       display: flex;
       position: relative;
       flex: 70%;
       background: #e5ddd5;
       border-right: 1px solid rgba(0, 0, 0, 0.02);
       opacity: 0.06;
   }
   .container .rightSide::before{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
   }
   .member-list{
       margin-left: 10%;
       font-size: 20px;
       line-height: 1,5px;
       list-style-type: none;
       width: 400px;
       max-height: min-content;
   }
   .msger-chat {
       border: 2px solid #eee;
       flex: 1; 
       overflow-y: auto; 
       padding: 10px;
       background-color: #d0d0d0;
     }
     .msger-chat::-webkit-scrollbar {
       width: 6px;
     }
     .msger-chat::-webkit-scrollbar-track {
       background: #ddd;
     }
     .msger-chat::-webkit-scrollbar-thumb {
       background: #bdbdbd;
     }
     .msger-inputarea {
       display: flex;
       padding: 10px;
       background: #eee;
     }
     .msger-inputarea * {
       padding: 10px;
       border: none;
       border-radius: 3px;
       font-size: 1em;
     }
     .msger-input {
       flex: 1;
       background: #ddd;
     }
   .search-chat div input {
       width: 100%;
       outline: none;
       border: none;
       background:#fff;
       padding: 6px;
       border-radius: 30px;
       font-size: 14px;
       padding-left: 40px;
   }
   .search-chat div input::placeholder{
       color: #bbb;
   }
   .header{
       background-color: #d9dbd5;
       width: 100%;
       height: 10vh;
   }
   
   .msg {
       display: flex;
       align-items: flex-end;
       margin-bottom: 10px;
     }
     .avatar{
       width: 50px;
       height: 50px;
       margin-right: 10px;
       background: #ddd;
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       border-radius: 50%;
     }
     .msg-bubble {
       max-width: 790px;
       padding: 15px;  
       border-radius: 15px; 
       background: #8a8bb8;    
     }  
     .msg-info {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 10px;
     }
     .msg-info-name {
       margin-right: 10px;
       font-weight: bold;
     }
     .msg-info-time {
       font-size: 0.85em;
     }
   .input-div{
       position: fixed;
       width: 880px;
       height: 60px;
       background-color: #f0f0f0;
       padding: 15px; 
        display: flex;
       justify-content: center;
       align-items: flex-end; 
       bottom: 30px;
       padding-left: 20px;
   }
   
   .message-input{
       position: relative;
       width: 90%;
       margin: 0 20px;
       padding: 5px 15px 6px;
       border: none;
       outline: none;
       border-radius: 6px;
       font-size: 1em;
   }
   .msger-send-btn{
       margin-left: 5px;
   }
   .logo{
    margin-left: 33%;
    margin-top: 5%;
    width: 200px;
    height: 200px;
     background-image: url('./images/scaledrone-seeklogo.com.svg');
     background-size: contain;
     background-repeat: no-repeat;
     transition: transform 1s;
   }
   
   .logo.rotate {
     transform: rotate(360deg);
   }
   
   h1 {
       margin-left: 35%;
       font-size: 45px;
   }
   
   .member-count{
     margin-left: 40%;
     font-size: medium;
   }
   
   li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    box-sizing: inherit;
   }
   li:hover{
     background-color: #8a8bb8;  
     box-shadow: #6466BB;
   }
   